* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1b244a;
  font-family: 'Roboto';
  color: #eee;
  font-size: 1rem;
  line-height: 1.5;
}

.scoreboard-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 2.2rem 1.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scoreboard-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem;
  text-shadow: 0 0 4px #fff;
}

.teams {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 300px;
}

.team-name {
  color: #eee;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.score {
  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
  background-color: #080001;
  width: 9.6875rem;
  height: 7.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f94f6d;
}

.score-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.score-btn {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 0.3125rem;
  border: 2px solid #9aabd8;
  background-color: transparent;
  color: #9aabd8;
  text-align: center;
  font-family: 'Cursed Timer ULiL', monospace;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.73825; /* 154.509% */
  cursor: pointer;
}

.score-btn:hover {
  background-color: rgba(154, 171, 216, 0.1);
  cursor: pointer;
}

.score-btn:focus {
  outline: 2px solid #9aabd8;
  outline-offset: 2px;
}

.reset-btn {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 0.3125rem;
  border: 2px solid #9aabd8;
  color: #f94f6d;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.reset-btn:focus {
  outline: 2px solid #9aabd8;
  outline-offset: 2px;
}

.reset-btn:hover {
  background-color: rgba(154, 171, 216, 0.1);
  cursor: pointer;
}
